

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-height {
    height: 55vh; 
  }

  .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 1rem;
  }

  .card-deck-comment {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 1rem;
  }

.card {
        border: 2px solid #e7e7e7;
        border-radius: 4px;
        padding: .5rem;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        color: #5d5e5e;  
    }

.grid {
      display: grid;
      grid-template-columns: repeat(var(--bs-columns), 1fr);
      grid-gap: var(--bs-gap);
    }

.g-col-6 {
      grid-column: span 6;
    }

.g-col-4 {
      grid-column: span 4;
    }

.frame {
      background-color: #ffffff;
      border-radius: 0.25rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
      padding: 1rem;
    }

.category {
        position: absolute;
        top: 110px;
        left: 0;
        color: #fff;
        background: #e74c3c;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
.comment-edit-delete-container {
      display: flex;
      align-items: center;
    }
    
.comment-link {
      margin-right: 10px; 
    }

.comment-edit-delete-container a {
      display: flex;
      align-items: center;
    }
    
.comment-edit-delete-container a svg {
      margin-right: 5px;
    }

